body {
  background-color: transparent;
  margin: 0;
  padding: 5px;
}

.badge {
  text-align: center;
}

.links {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.link{
  margin: 10px;
  padding: 10px;
  border: 4px double #00ff00;
  color: #00ff00;
}

.link:visited {
  border-color: #398a17;
  color: #398a17;
}

.site-name {
  font-style: italic;
}

.webring-name {
  font-style: italic;
}
